body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
}

.header,.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 24px;
}

.footer {
    color: #f9faf8;
    justify-content: center;
    padding: 16px;
}

.logoText {
    font-size: 36px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 40px;
    color: #e5e7eb;
}

a{
    color: inherit;
    text-decoration: none;
}



.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.block.hero {
    background-color: #1f2937;
    color: #f9faf8;
    
}

.hero1, .hero2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 40px;
}

.hero1 button {
    max-width: 100px;
}





.block.info {
    flex-direction: column;
}

.cards, .card{
    display: flex;
    align-items: center;
}

.cards {
    gap: 40px;
}
.card {
    flex-direction: column;
    width: 150px;
    margin-bottom: 20px;
}

.cards .text {
    text-align: center;
}
.imagePlaceholder {
    height: 100px;
    margin: 5px;
    width: 150px;
    background-color: grey;
    border: 1px;
    border-radius: 10px;
}

.block.quotes {
    background-color: #e5e7eb;
}

.block.callAction {
}