body {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

body > * {
    padding: 5px 100px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.card-one {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.card-one-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-one h3 {
    font-size: 36px;
    color: #F9FAF8;
}

.card-one .text{
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: fit-content;
}

.card-one-image {
    display: flex;
    width: 300px;
    height: 200px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.card-two {
    display: flex;
    flex-direction: column;
}



.card-two h3 {
    text-align: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 16px;
}

.box-description {
    width:150px;
    text-align: center;
}

.box-image {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    outline: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}